@BackgroundMenuPrimary: #525256;
@BackgroundBloquesGrises: #edf0f1;
@AzulClaro: #66bedb;

@import "basic.less";
@import "iconosFonts.less";
div[class*=slider-loader-]{
	background: none !important;
}


/*--------------home-------------------*/
body{
	font-size: 14px;
}
h1{
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 20px;
	color: #152844;
	text-shadow: none;
}
h2{
	font-size: 27px;
	text-shadow: none;
}
h3{
	font-size: 25px;
	text-shadow: none;
}
h4{
	font-size: 20px;
	text-shadow: none;
}
h5{
	font-size: 18px;
	text-shadow: none;
}
h6{
	font-size: 15px;
	text-shadow: none;
}

@media (max-width: 767px) {
	.paginaHome{
		h1{
			background: #3A68B0;
			color: white;
			padding: 12px 10px;
			margin-top: 2px;
			margin-bottom: 35px;
		}
	}
	.titutloActualizadad{
		margin-top: 8px;
	}
}

/*
archive 
----------------*/
.BloqueArchive{
	padding:5px;
	.sombraInferior;
	.thumbnail{
		margin-left: 10px;
		margin-top: 20px;
	}
	.contenidoArchive{
		padding: 0 25px; text-align: justify;
	}
}
/*
carousel 
----------------*/
.carousel-nav{background-color: #525256;height:40px; padding: 7px;margin: 5px 0; a:focus, a:hover{color:#00A4CB; }}
.controlcarousel{
	width:30px; font-size: 15px; color: #fff; 	
}
.carousel-inner .item{ background: transparent;}
.tituloNavegacionCarousel{
	color:#00A4CB;
	padding: 3px 0 0 0;
	a{
		color:#00A4CB;
	}
}
.container>p.tituloNavegacionCarousel.pull-right{
	margin-top: -32px;
}
#carousel-example-generic-noticias{
	.carousel-nav{background-color: #525256;height:40px; padding: 7px;margin: 0px; a:focus, a:hover{color:#ddd; h4 a{}}}
}
.carousel-control.left, .carousel-control.right{
	background: none;
	color:black;
}
.carousel-control.left .glyphicon-chevron-left{
	/*margin-left: -30px;*/
	font-size: 32px;
}
.carousel-control.right .glyphicon-chevron-right{
	/*margin-right: -30px;*/
	font-size: 32px;
}
.carousel-caption{
	text-shadow: none;
}
.carousel-control{
	width: 5%;
}
@media (max-width: 768px) { 
	.carousel-control{
		width: 8%;
	}
	.carousel-control.left, .carousel-control.right{
		font-size: 25px;
	}
}
@media (min-width: 768px) { 
	.carousel-control.left .glyphicon-chevron-left{
		margin-left: -30px;
	}
	.carousel-control.right .glyphicon-chevron-right{
		margin-right: -30px;
	}
}

/*
pagina graficos
----------------*/
.targetasGraficos{
	margin: 20px 0 20px 0;
	&>div{
		-webkit-box-shadow: 3px 3px 7px 0.5px #B8B8B8;
		box-shadow: 3px 3px 7px 0.5px #B8B8B8;
		border: 1px solid #ddd;
		border-radius: 8px;
	}
}
/*
carousel -noticias
----------------*/
#carousel-example-generic-noticias{ 
	.thumbnail{
		margin-bottom: 0px;
		padding:0px;
	}
	.carousel-caption{
		text-align: left;
		right: 0%;
		left: 0%;
		padding: 10px 30px;
		bottom: 0;
		background-color: rgba(219, 219, 219,0.8);
		h4{
			color:black;
			margin-bottom: 10px;
			a{
				color:black;
			}
		}
		p{
			color:black;
			font-size: 12px;
			span{
				color:red;
			}

		}
		a{
			color: white;
		}
	}
	.carousel-control.left .glyphicon-chevron-left{
		margin-left: -15px;
		color:black;
		&:hover{
			color:black;
		}
	}
	.carousel-control.right .glyphicon-chevron-right{
		margin-right: -14px;
		color:black;
		&:hover{
			color:black;
		}
	}
}
/*
Panel
----------------*/
.bloqueTargeta {
	padding: 0 20px;
	margin-bottom: 30px;
	.panel>{
		margin: 0 11px;
		-webkit-box-shadow: 3px 3px 7px 0.5px #B8B8B8;
		box-shadow: 3px 3px 7px 0.5px #B8B8B8;
		.linea{
			border-bottom: 2px solid #ffa600;
			margin-bottom: 2px;
		}
		
		.panel-body{
		padding: 0;
		h4{
			min-height: 70px; 
		}
		p,h4{
			padding: 0 10px;
			&>a{
				color:black;
			}
		}
		.dobleLinea{
			height: 40px;
		}
			p{
				/*color: #aaa;*/
				margin-bottom: 5px;
				font-size:14px;
				span{
					&.textoAzul{
						color: @AzulClaro;
					}
					&.textoGrisClaro{
						color: #4A4A4A;
					}
				}
			}
			h4{
				font-weight: bold;
				font-size: 20px;
			}
			.post-meta{
				margin: 0px;
				padding:0 0 0 10px;
				li{
					list-style:none;
				}
			}
			a{
				margin: 0 10px 10px 0;
				color: @AzulClaro;
				&.iconoModal{
					background: gray;
					padding: 0 5px;
					webkit-border-radius: 8px;
					border-radius: 8px;
					color:white;
				}
			}

		}
	}
}

.bloqueTargetaFormato,.bloqueTargetaFormatoContribucionAutor,.bloqueTargetaFormatoInvesInves,.bloqueTargetaFormatoBecas {
	min-height: 485px;
	.thumbnail{
		height: 200px;
		position: relative;
		/*background: red;*/
		img{
			position: absolute;
			width: 100%;
			height: 100%;
		}
	}
	/*.categoriasAzules{
		height: 42px;
	}*/
}
.bloqueTargetaFormatoContribucionAutor{
	min-height: 510px;
}
.bloqueTargetaFormatoBecas {
	min-height: 300px;
}
.bloqueTargetaFormatoPublicacion{
	min-height: 670px;
	margin-bottom: 10px;
  .thumbnail{
  	 &>img{
  	 	margin-left: 10px;
  	 }
  }
}

#tabsEventoTwitter{
	/*padding-left:5%;*/
	padding-right: 0;
	.nav-tabs{

	}
	li[role=presentation]{
		width: 50%;
		background-color: #5e8ce6;
		a{
			color:white;
			border:none;
			font-size: 18px;
			margin:0;
			border-radius: 0;
			span{
				font-size: 18px !important;
			}
		}
		.triangulo {
		     width: 0; 
		     height: 0; 
		     border-top: 15px solid #000;
		     border-left: 15px solid transparent;
		     border-right: 15px solid transparent;
		     z-index: 10;
		     position: absolute;
		     left:40%;
		     display: none;
		}
	}
	#ai1ec-calendar-view .ai1ec-pull-left>.ai1ec-pagination.ai1ec-btn-group{ display: none; }
	div.ai1ec-pagination.ai1ec-btn-group{
		padding-top: 0px;
		padding-bottom: 5px;
		a{
			font-size: 6px !important;
			.ai1ec-calendar-title, .ai1ec-calendar-title-short{
				font-size: 6px !important;
			}
		}
	}
	.ai1ec-btn-group > a.ai1ec-btn-sm:first-child{
		font-size: 0px;
	}
	.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
			background-color:black;
			color:white;
			border:none;
		}
	.nav-tabs>li.active>.triangulo{
		display: block;
	}
	.nav>li>a:focus, .nav>li>a:hover{
		 background-color: black;
		 border:none;
	}
	.tab-content{
		.contenido-tabs{
			height: 365px; 
			overflow-y: scroll;
			padding: 2px;
			background: #525256;
			border:1px solid #525256;
			webkit-border-radius: 2px 2px 2px 2px;
			border-radius: 2px 2px 2px 2px;

		}
		
	}
	div.ai1ec-views-dropdown.ai1ec-btn-group.ai1ec-pull-right{
		padding-right: 10px;
	}
	.ai1ec-subscribe-container{
		padding: 10px;
	}
}
@media (min-width: 1200px) { 
	#tabsEventoTwitter{
		.tab-content{
			.contenido-tabs{
				height: 442px;
			}
		}
		div.ai1ec-views-dropdown.ai1ec-btn-group{
			padding: 10px;
		}
		.ai1ec-subscribe-container{
			padding-top:15px;
		}
		div.ai1ec-pagination.ai1ec-btn-group{
			padding: 10px;
			a{
				font-size: 11px;
				.ai1ec-calendar-title, .ai1ec-calendar-title-short{
					font-size: 12px;
				}
			}
		}
		div.ai1ec-pagination.ai1ec-btn-group{
		padding-top: 5px;
		padding-bottom: 5px;
		a{
			font-size: 7px !important;
			.ai1ec-calendar-title, .ai1ec-calendar-title-short{
				font-size: 7px !important;
			}
		}
	}
	}
}
/*----------------nuestra -sociedad page------------------------*/
#imagenTop{
	.carousel, 
	.carousel-inner, 
	.carousel-inner .item {
	    height: 100%;
	    display: table;
	    .thumbnail{
	    	margin-bottom: 0;
	    	&>img{
				width: 100%;
				height: 430px;
			}
			@media (max-width: 991px){
				&>img{
					width: 100%;
					height: 600px;
				}
			}
			@media (max-width: 767px){
				&>img{
					width: 100%;
					height: 700px;
				}
			}
	    }
	    .container{
	    	.carousel-caption{
	    		top:0;
				bottom: 0;
	    		display: flex;
			    justify-content: center;
			    align-content: center;
			    flex-direction: column;
			}
	    }

	}
}
#contenidoBlanco{
	.thumbnail{
		margin:0;
		#contenidoTextAzulNuestra, #contenidoTextAzulRedLisi{
			font-size:30px;
			color:#3765AE;
			padding: 160px 100px;
			background: #ddd;
			p,h1{
				color:#3765AE;
			}
		}
	}
}

/*---page red lisi----*/
#ultimasInvestigaciones{
	.bloqueTargeta{
		margin:0;
	}
}
@media (max-width: 767px) {
	#ultimasInvestigaciones{
		.bloqueTargetaFormatoInvesInves{
			margin-bottom: 20px;
		}
	}
}
/*
google maps
__________________________*/
@media (max-width: 991px) {
	#mapPluging{
		/*background: red;*/
		padding-left: 100px;
		padding-right: 100px;
	}
}

.google-maps {
position: relative;
padding-bottom: 75%; // This is the aspect ratio
margin-bottom: -10%;
height: 0;
overflow: hidden;
}
.google-maps iframe {
position: absolute;
top: 0;
left: 10%;
width: 80% !important;
height: 80% !important;
}
/*
youtube responsive
__________________________*/
.youtube {
position: relative;
padding-bottom: 56.25%; /*// This is the aspect ratio*/
height: 0;
overflow: hidden;
}
.youtube iframe {
position: absolute;
top: 0;
left: 0;
width: 100% !important;
height: 100% !important;
/* .sombraInferior;*/
}
/*-----listado items - categoria panel - nuestra asociacion y movilidad */
.bordetabVerticalNegro{
	border-bottom: 1px solid gray;
	/*.col-xs-3{
		padding: 0;
	}*/
}
.tabVerticalNegro{
	min-height: 350px;
	.tab-pane{
		padding:10px 5px 0;
		&#home-r,&#mision-r,&#vision-r,&#programaMovilidad-quien-r,&#categoriasMovilidad-r,&#programaMovilidad-aplicar-r,&#Metodologia-r{
			padding:40px 10px 10px;
			font-size: 20px;
		}
	} 
	ul{
		background: black;
		padding:25px 10px;
	}
	li{
		height: 70px;
		&:first-child{
			height:80px;
		}
	}
	ul.listaMovilidad li{
		/*height: 120px;*/
		
	}
	li{
		border: none;
		&.active>a{
			border: none;
			background: black;
			
			color:#00b9f7;
			&:hover,&:focus{
				color:#00b9f7;
			}
		}
		&:hover{
		background-color: black;
		}
	}
	a{
		color: white;
	}
	.tab-pane {
		.categoriasDisponiblesMovilidad{
			/*width: 250px;*/
			font-size: 20px;
				margin-top: -15px;
				border-bottom: 6px solid transparent;
			&:hover{
				border-bottom: 6px solid #4A4A4A;
				padding-bottom: 0;
			}
			a{
			color: #888;
			text-decoration: none;
			}
		}
		.TitulosCategoriasMovilidad {
			font-size: 20px;
			font-weight: bold;
		}
		
	}
	.nav>li>a{
		line-height: 40px;
		font-size: 30px;
		border:none;
		text-align: right;
		&:hover{
			background-color: black;
			color: #00b9f7;
			border: none;
		}
	}
}
#tabVerticalNegroMovilidad.tabVerticalNegro ,#tabVerticalNegroCatedra.tabVerticalNegro{
	li{	
		text-align: right;
		/*padding: 20px 0;*/
		p{margin:0;padding: 0 15px; line-height: 25px;}
		/*p:last-child{
			margin-top: -15px;
		}*/
	}
	.nav>li{
		padding-top: 20px;
		display: flex;
	    justify-content: center;
	    align-content: center;
	    flex-direction: column;
	}
	.nav>li>a{
		/*padding-top: 20px;*/
		font-size: 20px;
		display: inline-block;
		margin: auto 0;
		padding:0;
		border:none;
		text-align: right;
		&:hover{
			background-color: black;
			color: #00b9f7;
			border: none;
		}
	}
	
	.tab-pane {
		padding: 40px 5px 20px 40px;
	}
}
.ElementoPadre{
	position:relative;
}
.ElementoHijo{
	position:absolute;
	top:0;
	height: 100%;
	right:0;
}

.divAsociados{
	img{
		margin-left: 20px;
	}
}
.tarjetasQuienes{
	.panel{
		-webkit-box-shadow: 0 2px 5px 5px #ddd;
		box-shadow: 0 2px 5px 5px #ddd;
	}
	.ico-pag,.correo{
		color:#00b9f7;
	}
	.correo{
		margin-top: -7px;
	}
}

#tabVerticalNegroCatedra.tabVerticalNegro{
	margin-bottom: 0px;
}

@media (max-width: 768px) { 
	#cajaNegraAsociacion, #tabVerticalNegroMovilidad, #tabVerticalNegroCatedra{
		.ElementoHijo{position: relative;}
		.tabs-right{border:none;}
		.col-xs-3,.col-xs-9,.col-xs-7,.col-xs-5{width: 100%;}
		li{height: auto;}
		.nav-tabs>li{
			float:left;
		}
		.col-xs-9{padding: 0;}
	}
	#tabVerticalNegroCatedra.tabVerticalNegro{
		.nav>li>a{
			padding: 10px 15px;
		}
	}
}
/*--------------------pagina members-------------------*/

#carousel-members{
	.item{
		.fichaCentral{
			position:relative;
			margin: 10px 0;
			-webkit-box-shadow: 0 0 7px 7px rgba(0,0,0,0.08);
			box-shadow: 0 0 7px 7px rgba(0,0,0,0.08);
			padding: 40px  30px;
		}
		.fichaLateralDerecha, .fichaLateralIzquierda{
			-webkit-box-shadow: 0 0 7px 7px rgba(0,0,0,0.08);
			box-shadow: 0 0 7px 7px rgba(0,0,0,0.08);
			position:absolute;
		   	top:0;
		   	bottom:0;
		}
		.fichaLateralDerecha{
			right:-26%;
		} 
		.fichaLateralIzquierda{
			left:-26%;
		}
	}
	.carousel-caption{
		padding-bottom: 2%;
		h1{
			color: black;
		}
		p,>div{
			color: #444;
		}
	}
	.carousel-control{
		&.left,&.right{
			/*background-image:none; */
			color:black;
		}
	}
}
.caja2{
	padding: 40px 30px;
}
.targetaEstrellas{
	-webkit-box-shadow: 0 0 7px 7px #d7d7d7;
	box-shadow: 0 0 7px 7px #d7d7d7;
	margin:0;
	padding:20px;
	margin-top: 40px;
	/*padding-top: 60px;*/
	margin-bottom: 35px;
	font-size: 14px;
	img{
		/*margin-top: 20px;*/
		display: block;
		margin: 20px auto;
		/*margin-bottom: 15px;*/
	}
	/*.estrellaImagen{
		background: url('../images/estrellas.png') no-repeat;
		width: 150px;
		height: 36px;
		position:absolute;
		margin-top: -20px;
	}*/
}

#carousel-dual-members{
	background: #ECF0F1;
	.carousel-caption{
		top:20px;
		h1{
			color: black;
		}
		p,>div{
			color: #444;
		}
	}
	.carousel-control{
		background-image: none;
		background-color: #ccc;
		color: black;
		opacity:1;
		span{
			color:black;
		}
	}
}
/*-------------------singles--------------*/
.styleSingle{
	h2,h3,h4,h5,h6{
		border-left: 3px solid #000;
		padding: 7px;
	}
	p{
		padding: 15px;
	}
}

/*---------single investigaciones---------*/
.singleInvestigaciones{
	h2:first-child{
		color:orange;
	}
	.singleInvestigacionPanelIzquierdo{
		margin-top: 30px;
		a{
			color:rgb(77, 171, 230);
		}
	}
}
#cuadroHazteMiembro{
	background-color: #D8D8D8;
	border:1px solid #ccc;
	h4{
		padding: 5px;
	}
}
#tabsInvestigacion{
	border:none;
	border-radius: 4px;
	li.active>a{
		background: #ddd;
	}
	li>a{
		p{
			margin:0;
		}
		p:first-child{
			margin:0 0 5px 0;
			}
		p:nth-child(3){
			margin: 5px 0 0 0;
			}
	}
	a{	
		.lineasInvestigacion{
			background: red;
			height: 4px;
			margin: 0;
			padding: 0;
			margin-left: -20%;	
			margin-right: -20%;

		}
		#lineaIdeacion{
			.lineasInvestigacion;
			background: #E67E22;
		}
		#lineaRetroAlimentacion{
			.lineasInvestigacion;
			background: #27AE60;
		}
		#lineaRefinar{
			.lineasInvestigacion;
			background: #3498DB;
		}
		#lineaRetroAlimentacion2{
			.lineasInvestigacion;
			background: #9B59B6;
		}
		#lineaIdeasTop{
			.lineasInvestigacion;
			background: #1ABC9C;
		}
		#lineaImpacto{
			.lineasInvestigacion;
			background: #E74C3C;
		}
	}
	
}

/*--------single eventos----------*/
.styleSingleEventos,.stylePagCalendario{
	margin-bottom: 50px;
}
/*--------single contribuciones----------*/
.espacioLinkContribuciones{
	float: right;
	margin-left: 15px;
}
.spanContador{
	float:right;
	margin-top:35px;
}
.topContribuciones{
	#datosInfoContenido{
		margin-bottom:50px;
		margin-top:45px;
		.organizar-linea{
			display:inline-block; 
			&>img{
				vertical-align: bottom;
			}
			&>p{
				padding:0;
				margin:0;
			}

		}
	}
}
.detalleContrubucion{
	margin-top:60px; 
	margin-bottom:60px; 
}
/*------------- perfil -------*/
#formContribucion{

		.button-primary{
			border-radius: 0px;
		}
		fieldset{
			margin-bottom: 10px;
		}
		.mini-faq{
			color: gray;
		}
		input,.mini-faq, label,.error{
			margin: 5px;
		}
		input,textarea,select{
			display: block;
			width: 100%;
			border: 1px solid #444;
			height: 45px;
			border-radius: 5px;
			font-size: 18px;
			padding: 5px;
		}
		textarea{
			height: 90px;
		}
		.thumbnail>img{
			margin:0;
			margin-left: 5px;
		}
		/*.centrar{
			margin-left: auto;
			margin-right: auto;
		}*/
		.btn-primary{
			margin-top: 20px;
			color:black;
			height: 65px;
			width: 100%;
			border-radius: 5px;
			display: inline-block;
			padding: 6px 12px;
			margin-bottom: 0;
			font-size: 14px;
			font-weight: 400;
			line-height: 1.42857143;
			text-align: center;
			white-space: nowrap;
			vertical-align: middle;
			-ms-touch-action: manipulation;
			touch-action: manipulation;
			cursor: pointer;
			border: 1px solid transparent;
			border-radius: 4px color: #000;
			background-color: #fff;
			border-color: #2e6da4;
			border: 2px solid #00B9F7;
			font-size: 20px;
			padding: 15px;
		}
		label{
			display: inline-block;
			max-width: 100%;
			margin-bottom: 5px;
			font-weight: 700;
		}
}

/*---------carousel - perfil --------------*/



#carousel-dual-perfil{

	.carousel-caption{
		top:0;
		left:0;
		right:0;
		text-align: left;
		.TituloAutor{
			font-size: 60px;
			margin-bottom: 10px;
		}
		h1,h3{
			margin-top:7px;
			margin-bottom: 7px;	
			color:white;
		}
		.btn-cerrar{
			margin-top: 20px;
			color:white;
			background-color: #3a6ab6;
			border: none;
			border-radius: 0px;
			font-weight: bold;
		}
	}
	.carousel-indicators{
		width:20%;
		margin-left: -10%;
		/*background:red !important;*/
	 	li{
			width: 25px !important;
			height: 25px !important;
			border-radius: 25px;
		}
	}
	.carousel-control.left, .carousel-control.right{
		/*background-image: none;*/
		color:black;
	}
	.carousel-control.left{
		right: 0;
		left: auto;
	}
	
	.img-circle{
		border: 1px solid #979797;
	}

	/*@media (min-width: 1450px) { 
		.carousel-control.left, .carousel-control.right{
		 	right:13%; 
		}
	}
	@media (min-width: 1300px) and (max-width: 1449px) { 
		.carousel-control.left, .carousel-control.right{
		 	right:8%; 
		}
	}
	@media (min-width: 1200px) and (max-width: 1299px){ 
		.carousel-control.left, .carousel-control.right{
		 	right:2.5%; 
		}
	}
	@media (max-width: 1199px) { 
		.carousel-control.left, .carousel-control.right{
		 	right:7%; 
		}
	}
	@media (max-width: 991px) { 
		.carousel-control.left, .carousel-control.right{
		 	right:7%; 
		}
	}
	@media (max-width: 767px) { 
		.carousel-control.left, .carousel-control.right{
		 	right:2%; 
		}
	}*/
	/*@media (max-width: 1199px) { 
		.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
			max-width: 125%;
		}
	}
	@media (max-width: 991px) { 
		.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
			max-width: 240%;
		}
	}
	@media (max-width: 767px) { 
		.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
			max-width: 400%;
		}
	}*/
	.sliderPerfilAltura{
		&>img{
			width: 100%;
			height: 430px;
		}
		@media (max-width: 991px){
			&>img{
				width: 100%;
				height: 600px;
			}
		}
		@media (max-width: 767px){
			&>img{
				width: 100%;
				height: 700px;
			}
		}
	}
}

#carousel-example-generic-comments{
	.carousel-inner .item{
		padding-left: 30px;
	}
}

.espacioLinkTarjeta{
	float: right;
	margin-left: 15px;
	margin-bottom: 15px;
	margin-right: 15px;
}

/*----------colapsar filtros----*/
.collapsing {
    -webkit-transition: none;
    transition: none;
}
.collapse,.collapsing{
	-webkit-transition: none;
    transition: none;
	.well{
		background-color: #4c4c4c;
		border:none;
		border-radius: 0;
		button{
			color:white;
			background-color: #4c4c4c;
		}
		h3,h4, h5{
			padding: 10px 0;
			color:white;
		}
		h4{
			margin-top: -10px;
			padding-top: 0;
			font-size: 20px;
		}
		h5{
			font-size: 14px;
		}
		a{
			color:white;
			border:none;
			border-radius:10px;
			/*background-color: #6a96e8;*/
			background: linear-gradient(180deg, #54A4FF 0%, #4383CC 100%);
		}
	}
}
#collapseExample-3.collapse,#collapseExample-3.collapsing{
		.well{
			margin:0;
			a{
				margin-top: 25px;
			}
		}
	}
@media (min-width: 767px) { 
	#collapseExample-3.collapse,#collapseExample-3.collapsing{
		.well{
			a{
				margin-top: 55px;
			}
		}
	}
}
#collapseExample-1.collapse,#collapseExample-1.collapsing{
	.well{
		margin:0;
		padding: 0;
		width: 100%;
			#btn-abrir{
				width: 100%;
				height: 75px;
				padding:5px;
				color: #aaa;
				font-size: 27px;
				span{
					margin:5px;
					color: white;
				}
			}
		&>.row{
			margin:0px;
		}
	}
}

@media (max-width: 768px) { 
	#collapseExample-1.collapse .well #btn-abrir{
		 font-size: 20px;
	}
}
/*--- pagina de registro de usuarios----*/
#formDatosUsuario{
	#signup{
		.btn-pass,.button-primary{
			border-radius: 0px;
		}
		fieldset{
			margin-bottom: 10px;
		}
		.mini-faq{
			color: gray;
		}
		input,.mini-faq, label,.error{
			margin: 5px;
		}
		input,textarea{
			display: block;
			width: 100%;
			border: 1px solid #444;
			height: 45px;
			border-radius: 5px;
			font-size: 18px;
			padding: 5px;
		}
		textarea{
			height: 90px;
		}
		.thumbnail>img{
			margin:0;
			margin-left: 5px;
		}
		/*.centrar{
			margin-left: auto;
			margin-right: auto;
		}*/
		.btn-primary{
			margin-top: 20px;
			color:black;
			height: 65px;
			width: 100%;
			border-radius: 5px;
			display: inline-block;
			padding: 6px 12px;
			margin-bottom: 0;
			font-size: 14px;
			font-weight: 400;
			line-height: 1.42857143;
			text-align: center;
			white-space: nowrap;
			vertical-align: middle;
			-ms-touch-action: manipulation;
			touch-action: manipulation;
			cursor: pointer;
			border: 1px solid transparent;
			border-radius: 4px color: #000;
			background-color: #fff;
			border-color: #2e6da4;
			border: 2px solid #00B9F7;
			font-size: 20px;
			padding: 15px;
		}
		label{
			display: inline-block;
			max-width: 100%;
			margin-bottom: 5px;
			font-weight: 700;
		}
		.req{
			color: red;
		}
		.error{
			color: red;
		}
		
		.listadoRadioBtn{
			.items{
				width: 100%;
				label{
					font-weight: normal;
				}
				p{
					margin-left: 5px;
				}
			}
			input{
				display: inline-block;
				width: auto;
				height: auto;
			}
			/*label{
				display: block;
			}*/
		}
	}
	.comment-form-comment{
		label{
			display:none;
		}
		textarea{
			width: 100%;
		}
	}
	.btn-pass{
				display: block;
		}
	/*.form-submit{
		float:right;
		.submit{
			color: #000;
			background-color: #fff;
			border-color: #2e6da4;
			border: 2px solid #00B9F7;
			font-size: 20px;
			padding: 15px;
			&:hover{
				background-color: #DDD;
			}
		}
	}*/
}

/*------- targeta quienes----*/
.tabVerticalNegro .tab-pane{
	padding:0;
}
.tarjetasQuienes{
	.panel-body{
		/*min-height:315px;*/
		min-height: 240px;
		padding: 0px;
		h4{
			/*margin-bottom:20px;*/
		}
		.correo{
			/*margin-bottom:20px;*/
		}
		.thumbnail{padding-top: 5px;}
	}
	/*.dobleLinea{
			height: 40px;
	}
	.dobleLinea2{
		min-height: 90px;
	}*/
}
@media (min-width: 992px) and (max-width: 1200px) {
	.tarjetasQuienes{
		.panel-body{
			line-height: 1.2;
		}
	}
}
#carousel-id { 
	.tarjetasQuienes{
		.dobleLinea2{
			min-height: 40px;
		}
	}
}
/*-- no export hight...-*/
g.highcharts-button.highcharts-contextbutton{
	display: none;
}

#carousel-graficos-2 .carousel-inner .highcharts-container, #carousel-graficos .carousel-inner .highcharts-container{
	width: 100% !important;
	/*background:red !important;*/
	svg.highcharts-root{
		width: 100% !important;
	}
}