@BackgroundMenuPrimary: #525256;
@BackgroundBloquesGrises: #edf0f1;
@AzulClaro: #66bedb;

@import "basic.less";
@import "iconosFonts.less";

/*--------------home-------------------*/
h1{
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 20px;
	color: #152844;
}
/*
archive 
----------------*/
.BloqueArchive{
	padding:5px;
	.sombraInferior;
	.thumbnail{
		margin-left: 10px;
	}
	.contenidoArchive{
		padding: 0 25px; text-align: justify;
	}
}
/*
carousel 
----------------*/
.carousel-nav{background-color: #525256;height:40px; padding: 7px;margin: 5px 0; a:focus, a:hover{color:#ddd; }}
.controlcarousel{
	width:30px; font-size: 15px; color: #fff; 	
}
.carousel-inner .item{ background: transparent;}
.tituloNavegacionCarousel{
	color:#00a4cb;
	padding: 3px 10px 0 0;
}
#carousel-example-generic-noticias{
	.carousel-nav{background-color: #525256;height:40px; padding: 7px;margin: 0px; a:focus, a:hover{color:#ddd; }}
}
.carousel-control.left, .carousel-control.right{
	/*background-image: none;*/
	color:black;
}
.carousel-control{
	width: 5%;
}
/*
carousel -noticias
----------------*/
#carousel-example-generic-noticias{ 
	.thumbnail{
		margin-bottom: 0px;
		padding:0px;
	}
	.carousel-caption{
		text-align: left;
		right: 0%;
		left: 0%;
		padding: 20px;
		bottom: 40px;
		background-color: rgba(250,250,250,0.5);
		h4{
			color:black;
			margin-bottom: 10px;
		}
		p{
			color:black;
			font-size: 12px;
		}
		a{
			color: white;
		}
	}
}
/*
Panel
----------------*/
.bloqueTargeta {
	padding: 20px;
	.panel>{
		margin: 0 11px;
		-webkit-box-shadow: 3px 3px 7px 0.5px #B8B8B8;
		box-shadow: 3px 3px 7px 0.5px #B8B8B8;
		.linea{
			border-bottom: 2px solid #ffa600;
			margin-bottom: 2px;
		}
		.thumbnail{
			padding: 3px 0;
		}
		.panel-body{
		padding: 0;
		p,h4{
			padding: 0 10px;
			&>a{
				color:black;
			}
		}
			p{
				/*color: #aaa;*/
				margin-bottom: 5px;
				font-size:14px;
				span{
					&.textoAzul{
						color: @AzulClaro;
					}
					&.textoGrisClaro{
						color: #4A4A4A;
					}
				}
			}
			h4{
				font-weight: bold;
				font-size: 20px;
			}
			.post-meta{
				margin: 0px;
				padding:0 0 0 10px;
				li{
					list-style:none;
				}
			}
			a{
				margin: 0 10px 10px 0;
				color: @AzulClaro;
				&.iconoModal{
					background: gray;
					padding: 0 5px;
					webkit-border-radius: 8px;
					border-radius: 8px;
					color:white;
				}
			}

		}
	}
}
#tabsEventoTwitter{
	padding-left:5%;
	.nav-tabs{

	}
	li[role=presentation]{
		width: 50%;
		background-color: #5e8ce6;
		a{
			color:white;
			border:none;

		}
	}
	.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
			background-color:black;
			color:white;
			border:none;
		}
	.nav>li>a:focus, .nav>li>a:hover{
		 background-color: black;
		 border:none;
	}
	.tab-content{
		.contenido-tabs{
			height: 359px; 
			overflow-y: scroll;
			padding: 2px;
			background: #525256;
			border:1px solid #525256;
			webkit-border-radius: 2px 2px 2px 2px;
			border-radius: 2px 2px 2px 2px;

		}
		
	}
}
@media (min-width: 1200px) { 
	#tabsEventoTwitter{
		.tab-content{
			.contenido-tabs{
				height: 429px;
			}
		}

	}
}

/*----------------nuestra -sociedad page------------------------*/
#imagenTop{
	.carousel-caption{
		bottom: 25%;
	}
}

/*
google maps
__________________________*/
.google-maps {
position: relative;
padding-bottom: 75%; // This is the aspect ratio
margin-bottom: -10%;
height: 0;
overflow: hidden;
}
.google-maps iframe {
position: absolute;
top: 0;
left: 10%;
width: 80% !important;
height: 80% !important;
}

/*
youtube responsive
__________________________*/
.youtube {
position: relative;
padding-bottom: 75%; // This is the aspect ratio
height: 0;
overflow: hidden;
}
.youtube iframe {
position: absolute;
top: 0;
left: 0;
width: 100% !important;
height: 100% !important;
}

/*-----listado items - categoria panel - nuestra asociacion y movilidad */
.bordetabVerticalNegro{
	border-bottom: 1px solid gray;
	/*.col-xs-3{
		padding: 0;
	}*/
}
.tabVerticalNegro{
	min-height: 350px;
	.tab-pane{
		padding:10px 5px 0;
		&#home-r,&#mision-r,&#vision-r,&#programaMovilidad-quien-r,&#categoriasMovilidad-r,&#programaMovilidad-aplicar-r{
			padding:40px 5px 10px;
		}
	} 
	ul{
		background: black;
		padding:25px 10px;
	}
	li{
		height: 70px;
	}
	ul.listaMovilidad li{
		/*height: 120px;*/
		
	}
	li{
		border: none;
		&.active>a{
			border: none;
			background: black;
			
			color:#00b9f7;
			&:hover,&:focus{
				color:#00b9f7;
			}
		}
		&:hover{
		background-color: black;
		}
	}
	a{
		color: white;
	}
	.tab-pane {
		.categoriasDisponiblesMovilidad{
			/*width: 250px;*/
				padding-bottom: 3px;
			&:hover{
				border-bottom: 3px solid gray;
				padding-bottom: 0;
			}
			a{
			color: black;
			text-decoration: none;
			}
		}
		
	}
	.nav>li>a{
		font-size: 16px;
		line-height: 40px;
		&:hover{
			background-color: black;
			color: #00b9f7;
			border: none;
		}
	}
}
.ElementoPadre{
	position:relative;
}
.ElementoHijo{
	position:absolute;
	top:0;
	height: 100%;
	right:0;
}

.divAsociados{
	img{
		margin-left: 20px;
	}
}
.tarjetasQuienes{
	.panel{
		-webkit-box-shadow: 0 2px 5px 5px #ddd;
		box-shadow: 0 2px 5px 5px #ddd;
	}
	.ico-pag,.correo{
		color:#00b9f7;
	}
	.correo{
		margin-top: -7px;
	}
}

/*--------------------pagina members-------------------*/

#carousel-members{
	.item{
		.fichaCentral{
			position:relative;
			margin: 10px 0;
			-webkit-box-shadow: 0 0 7px 7px rgba(0,0,0,0.08);
			box-shadow: 0 0 7px 7px rgba(0,0,0,0.08);
		}
		.fichaLateralDerecha, .fichaLateralIzquierda{
			-webkit-box-shadow: 0 0 7px 7px rgba(0,0,0,0.08);
			box-shadow: 0 0 7px 7px rgba(0,0,0,0.08);
			position:absolute;
		   	top:0;
		   	bottom:0;
		}
		.fichaLateralDerecha{
			right:-26%;
		} 
		.fichaLateralIzquierda{
			left:-26%;
		}
	}
	.carousel-caption{
		padding-bottom: 2%;
		h1{
			color: black;
		}
		p,>div{
			color: #444;
		}
	}
	.carousel-control{
		&.left,&.right{
			/*background-image:none; */
			color:black;
		}
	}
}

.targetaEstrellas{
	-webkit-box-shadow: 0 0 7px 7px #d7d7d7;
	box-shadow: 0 0 7px 7px #d7d7d7;
	margin: 30px 0;
	padding:20px;
	margin-bottom: 35px;
	.estrellaImagen{
		background: url('../images/estrellas.png') no-repeat;
		width: 150px;
		height: 36px;
		position:absolute;
		margin-top: -20px;
	}
}

#carousel-dual-members{
	background: #ECF0F1;
	.carousel-caption{
		top:20px;
		h1{
			color: black;
		}
		p,>div{
			color: #444;
		}
	}
	.carousel-control{
		background-image: none;
		background-color: #ccc;
		color: black;
		opacity:1;
		span{
			color:black;
		}
	}
}
/*-------------------singles--------------*/
.styleSingle{
	h2,h3,h4,h5,h6{
		border-left: 3px solid #000;
		padding: 7px;
	}
	p{
		padding: 15px;
	}
}

/*---------single investigaciones---------*/
.singleInvestigaciones{
	h2:first-child{
		color:orange;
	}
	.singleInvestigacionPanelIzquierdo{
		margin-top: 30px;
		a{
			color:rgb(77, 171, 230);
		}
	}
}
#cuadroHazteMiembro{
	background-color: #D8D8D8;
	border:1px solid #ccc;
	h4{
		padding: 5px;
	}
}
#tabsInvestigacion{
	border:none;
	border-radius: 4px;
	li.active>a{
		background: #ddd;
	}
	li>a{
		p{
			margin:0;
		}
		p:first-child{
			margin:0 0 5px 0;
			}
		p:nth-child(3){
			margin: 5px 0 0 0;
			}
	}
	a{	
		.lineasInvestigacion{
			background: red;
			height: 4px;
			margin: 0;
			padding: 0;
			margin-left: -20%;	
			margin-right: -20%;

		}
		#lineaIdeacion{
			.lineasInvestigacion;
			background: #E67E22;
		}
		#lineaRetroAlimentacion{
			.lineasInvestigacion;
			background: #27AE60;
		}
		#lineaRefinar{
			.lineasInvestigacion;
			background: #3498DB;
		}
		#lineaRetroAlimentacion2{
			.lineasInvestigacion;
			background: #9B59B6;
		}
		#lineaIdeasTop{
			.lineasInvestigacion;
			background: #1ABC9C;
		}
		#lineaImpacto{
			.lineasInvestigacion;
			background: #E74C3C;
		}
	}
	
}

/*--------single eventos----------*/
.styleSingleEventos,.stylePagCalendario{
	margin-bottom: 50px;
}
/*---------carousel - perfil --------------*/
#carousel-dual-perfil{
	.carousel-caption{
		top:12%;
		text-align: left;
	}
	.carousel-control.left, .carousel-control.right{
		/*background-image: none;*/
		color:black;
	}
	.carousel-control.left{
		right: 0;
		left: auto;
	}
}
/*----------colapsar filtros----*/
.collapse{
	.well{
		background-color: #4c4c4c;
		border:none;
		border-radius: 0;
		button{
			color:white;
			background-color: #4c4c4c;
		}
		h3,h4, h5{
			padding: 10px 0;
			color:white;
		}
		h4{
			margin-top: -10px;
			padding-top: 0;
			font-size: 20px;
		}
		h5{
			font-size: 14px;
		}
		a{
			color:white;
			border:none;
			border-radius:10px;
			/*background-color: #6a96e8;*/
			background: linear-gradient(180deg, #54A4FF 0%, #4383CC 100%);
		}
	}
}