/*----iconos-------*/
@font-face {
    font-family: 'IcoMoon-Free';
    src: url('../fonts/Font/IcoMoon-Free.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'IcoMoon-Free' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
    content: "\ea96";
}
.icon-linkedin:before {
    content: "\eac9";
}
.icon-linkedin2:before {
    content: "\eaca";
}
.icon-facebook:before{
    content: "\ea90";
}
.icon-tumblr:before{
    content: "\eab9";
}
.icon-pinterest:before{
    content: "\ead1";
}
.icon-youtube2:before{
    content: "\ea9e";
}
.icon-vimeo:before{
    content: "\eaa0";
}
.icon-google-plus:before{
    content: "\ea8b";
}
.icon-skype:before{
    content: "\eac5";
}
.icon-mail3:before {
    content: "\ea84";
    font-size:18px;
}
.icon-comments:before {
    content: "\e96e";
}
.icon-pencil:before{
    content: "\e905";
}
#iconosRedes{
    span{
        color:white;
        width: 36px;
        height: 36px;
        background-color: #5f9ce2; 
        padding: 8px;
        border-radius: 50%;
        font-size: 18px;
        &.icon-youtube2{
            font-size: 11px;
            padding: 0 3px;
            padding-top: 15px;
            padding-bottom: 8px;
        }
    }
    
    
}
